h1{
    text-align: center;
    color: blue;
    font-size: 2rem;
    margin: 20px 0;
}
.a {
    list-style: none;
    display: flex;
    justify-content: left;
    gap: 30px;
    padding: 10px;
}
a{
    text-decoration: none;
    color:aquamarine;
    font-size: 30px;
}
a:hover{
    color: #fff;
}
.b:hover {
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
}
body{
    background-color: #1117;
    margin: 10px;

}
img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 20px;
}